body {
  background-color: #e6e2d3;
}

a {
  color: #7a6bbf;
}

.App {
  max-width: 960px;
  margin: 0 auto;
}

.App .App-header {
  text-align: center;
  margin: 30px 0;
}

.App .App-logo {
  max-width: 300px;
  display: block;
  margin: 0 auto;
}
