.Dictionary section {
  background: #bbbded;
  padding: 30px;
  border-radius: 10px;
  margin: 20px 0;
}

.Dictionary input {
  width: 100%;
  padding: 6px 10px;
  border-radius: 5px;
  color: #333;
  border: 1px solid #ddd;
}

.Dictionary .hint {
  text-align: left;
  font-size: 11px;
  margin-top: 5px;
}
